[submodule "3rd/hashmap.c"]
	path = 3rd/hashmap.c
	url = https://github.com/oov/hashmap.c
	branch = simplify
[submodule "3rd/tinycthread"]
	path = 3rd/tinycthread
	url = https://github.com/oov/tinycthread
[submodule "3rd/acutest"]
	path = 3rd/acutest
	url = https://github.com/oov/acutest
[submodule "3rd/mimalloc"]
	path = 3rd/mimalloc
	url = https://github.com/microsoft/mimalloc
